
    <h4 class="center purple-text text-darken-4">{{name}}</h4>
    <div class="row">
        <div class="col s10 offset-s2">
            <trab-card name="Iogurte Caseiro" descricao="<li><b>Rendimento:</b> 5 porções</li>
            <li><b>Dificuldade:</b> Fácil</li> 
            <li><b>Tempo de preparo:</b> 25m + 8h de descanso</li>
            " link="/conteudo/0" imagem="assets/Iogurt.png"></trab-card>
            <trab-card name="Bolo de Iogurte" descricao="<li><b>Rendimento:</b> 10 porções</li>
                <li><b>Dificuldade:</b> Fácil</li> 
                <li><b>Tempo de preparo:</b> 1h</li>
                " link="/conteudo/1" imagem="assets/Bolo.png"></trab-card>
            <trab-card name="Pudim de Tapioca" descricao="<li><b>Rendimento:</b> 8 a 10 porções</li>
                <li><b>Dificuldade:</b>Média</li> 
                <li><b>Tempo de preparo:</b> 1h e 40m
                </li>
                " link="/conteudo/2" imagem="assets/Pudim.png"></trab-card>
        </div>
    </div>
